/* здесь используйте глобальные переменные */
/* font-family */
$basic-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;

/* width screen */
$tablet-width: 768px;
$desktope-width: 1440px;

/* text colors */
$text-color-default: #ffffff;
$text-color-second: #000000;
$text-color-basic: #444444;
$text-color-dark-grey: #222222;

/* button colors */
$button-bg-basic: #68b738;
$button-bg-basic-grey: #f2f2f2;

/* background colors */
$bg-color-default: #ffffff;
$bg-color-second: #000000;
$bg-color-special: #666666;
$bg-color-basic-grey: #f2f2f2;
$bg-color-special-grey: #ebebeb;
$bg-color-basic-green: #68b738;
$bg-color-basic-green-2: #5eaa2f;
$bg-color-basic-green-second: rgba(104, 183, 56, 0.85);
