.action {
  font-family: $second-font;
}

.action__title {
  @include title-typography ($line-height: 24px);
  color: $text-color-second;
}

.action__text {
  @include text-typography ($line-height: 24px);
  color: $text-color-second;
}

.action__input {
  font-family: $second-font;
  font-size: 20px;
  text-transform: uppercase;

  &::placeholder {
    color: $text-color-basic;
  }
}

.action__button {
  @include text-typography ($font-size: 20px, $line-height: 26px);
}
