.burger {
  position: relative;
  flex-shrink: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $bg-color-second;
  }

  &:disabled {
    opacity: 0.1;
  }

  &--closed::before {
    top: 0;
    box-shadow: 0 8px $bg-color-second;
    transition: top 0.4s 0.1s;
  }

  &--closed::after {
    bottom: 0;
    transition: bottom 0.4s 0.1s;
  }

  &--opened::before {
    top: 8px;
    width: 25px;
    transform: rotate(45deg);
    box-shadow: 0 0 $bg-color-default;
    transition: box-shadow 0.4s, transform 0.4s 0.1s;
  }

  &--opened::after {
    top: 8px;
    width: 25px;
    transform: rotate(-45deg);
    transition: transform 0.4s 0.1s;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
