.button {
  @include text-typography;
  font-family: $second-font;
  text-transform: uppercase;
  color: $text-color-default;
  background-color: $bg-color-basic-green;
  border: none;

  &--transparent {
    background-color: $bg-color-basic-grey;
    color: $text-color-second;
  }
}
