.button {
  @include text-typography;
  font-family: $second-font;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-default;
  background-color: $bg-color-basic-green;
  border: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.3s;

  &:hover {
    background-color: $bg-color-basic-green-2;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
    background-color: $bg-color-basic-green-2;
  }

  &--transparent {
    background-color: $bg-color-basic-grey;
    color: $text-color-second;

    &:hover {
      color: $text-color-second;
      background-color: $bg-color-special-grey;
    }

    &:active {
      color: rgba($color: #000000, $alpha: 0.3);
    }
  }
}
