.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: center;
  width: 100%;
  min-height: 209px;
  padding: 20px 0 25px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 430px;
    max-width: 324px;
    padding: 0 37px 40px;
    background-color: $bg-color-basic-grey;
    border: none;
  }

  @media (min-width: $desktope-width) {
    max-width: 245px;
  }
}

.card__link {
  grid-row: 1 / 3;
  justify-self: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -71px;
  }
}

.card__image {
  height: 100px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.card__title {
  @include title-typography ($font-size: 16px, $line-height: 20px);
  justify-self: self-start;
  margin: 0;
  max-width: 76px;
  font-family: $second-font;
  text-transform: uppercase;
  color: $text-color-dark-grey;

  @media (min-width: 768px) {
    @include title-typography ($font-size: 20px, $line-height: 24px);
    max-width: 135px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.card__list {
  @include reset-list;
  @include text-typography ($font-size: 12px, $line-height: 16px);
  width: 100%;

  @media (min-width: 768px) {
    @include text-typography ($font-size: 16px, $line-height: 20px);
    margin-bottom: 32px;
  }
}

.card__list-wrapper-text {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktope-width) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.card__list-description {
  margin: 0;
}

.card__button {
  @include flex-center;
  grid-column: 1 / 3;
  align-self: end;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktope-width) {
    width: 169px;
  }
}

.card-show-all {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 39px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      top: 80px;
      width: 60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-bottom: 40px;
    border: 1px solid $bg-color-basic-grey;
  }
}

.card__show-all-text {
  @include text-typography ($font-size: 16px, $line-height: 20px);
  font-family: $second-font;
  margin: 0 0 8px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    @include text-typography ($font-size: 20px, $line-height: 24px);
    max-width: 178px;
    margin: 161px 0 20px;
  }

  @media (min-width: $desktope-width) {
    margin: 150px 0 26px;
  }
}

.card__show-all-description {
  @include text-typography ($font-size: 12px, $line-height: 16px);
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    @include text-typography ($font-size: 16, $line-height: 18px);
    max-width: 226px;
  }
}

.card__show-all-button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: auto;
  }

  @media (min-width: $desktope-width) {
    width: 169px;
  }
}
