.catalog__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $text-color-second;
}

.catalog__show-all-text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__show-all-description {
  font-size: 12px;
  line-height: 16px;
}
