.example {
  background-color: $bg-color-basic-grey;
}

.example__title {
  @include title-typography ($font-size: 36px, $line-height: 40px);
  font-family: $second-font;
  color: $text-color-second;
}

.example__name {
  @include text-typography ($font-size: 24px, $line-height: 24px);
  font-family: $second-font;
  color: $text-color-basic;
}

.example__description {
  @include text-typography ($font-size: 12px, $line-height: 12px);
  text-transform: uppercase;
}

.example__item-total-text {
  @include text-typography ($font-size: 14px);
  font-family: $second-font;
  text-transform: uppercase;
  color: $text-color-second;
}
