.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  min-height: 480px;
  margin-bottom: 20px;
  font-family: $second-font;

  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 302px;
    background-color: #66b835;
    background-image:
      image-set(
        url("../../images/hero-background-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/hero-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/hero-background-mobile@2x.png") 2x,
        url("../../images/hero-background-mobile@1x.png") 1x,
      );
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktope-width) {
      display: block;
      position: absolute;
      z-index: -2;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      // background-image: url("../../images/index-background-desktope@2x.png");
      background-image:
        image-set(
          url("../../images/index-background-desktope@2x.webp") type("image/webp") 2x,
          url("../../images/index-background-desktope@1x.webp") type("image/webp") 1x,
          url("../../images/index-background-desktope@2x.png") 2x,
          url("../../images/index-background-desktope@1x.png") 1x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 810px;
    align-items: normal;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  @media (min-width: $desktope-width) {
    position: static;
    min-height: 551px;
    max-width: 1440px;
    margin: 0 auto 37px;
  }
}

.hero__wrapper-text {
  position: relative;
  padding: 27px 0 20px;
  text-align: center;
  color: $text-color-default;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 302px;
    height: 100%;
    z-index: -1;
    display: block;
    background-color: $bg-color-basic-green-second;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktope-width) {
      display: block;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      width: 50%;
      height: 694px;
      background-color: $bg-color-basic-green-second;
    }
  }

  @media (min-width: $tablet-width) {
    height: min-content;
    max-width: 416px;
    padding: 0;
    margin: 0 0 30px 120px;
    text-align: left;
    color: $text-color-second;
  }

  @media (min-width: $desktope-width) {
    position: static;
    margin: 35px 0 33px 190px;
  }
}

.hero__title {
  @include title-typography ($font-size: 36px);
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  @include text-typography ($font-size: 14px, $line-height: 14px);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__picture {
  @media (min-width: $desktope-width) {
    position: relative;
  }
}

.hero__image {
  position: absolute;
  top: 165px;
  left: 50%;
  translate: -50%;

  @media (min-width: $tablet-width) {
    top: 204px;
  }

  @media (min-width: $desktope-width) {
    top: -303px;
    left: auto;
    right: 331px;
    translate: 0;
  }
}

.hero__button {
  @include flex-center;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    min-width: 244px;
    max-width: 244px;
    margin-left: 120px;
    padding: 14px 10px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktope-width) {
    margin-left: 190px;
  }
}
