.location__text {
  @include text-typography ();
  font-family: $second-font;
  text-transform: uppercase;
  color: #111111;
}

.location__wrapper-adress--bg-grey {
  background-color: $bg-color-basic-grey;
}
