.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 256px;
  width: 280px;
  margin: 0 auto;

  &::before {
    @include abs-position;
    content: "";
    z-index: 2;
    width: 4px;
    height: 100%;
    background-color: $bg-color-special;
    border-radius: 2px;
  }

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__image-wrapper {
  overflow: hidden;
}

.slider__image {
  position: relative;
  max-width: none;

  &--shift {
    right: 100%;
  }
}

.slider__button {
  @include abs-position;
  z-index: 2;
  width: 40px;
  height: 40px;
  border: 2px solid $bg-color-special;
  border-radius: 50%;
  background-color: $bg-color-default;
  color: $bg-color-special;
  cursor: pointer;

  &::before {
    @include abs-position;
    content: "";
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-arrow");
    background-color: currentColor;
  }

  &:hover {
    color: $bg-color-basic-green;
    border: 2px solid $bg-color-basic-green;
  }

  &:active {
    color: $bg-color-basic-green-2;
    border-color: $bg-color-basic-green-2;
  }
}

.slider:has(.slider__button:hover)::before {
  background-color: $bg-color-basic-green;
}

.slider:has(.slider__button:active)::before {
  background-color: $bg-color-basic-green-2;
  opacity: 0.6;
}
