.works {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    border: 1px solid #e6e6e6;
    margin-bottom: 45px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktope-width) {
    border: none;
    padding: 0;
    margin-bottom: 69px;
  }
}

.works__title {
  @include title-typography ($font-size: 36px, $line-height: 40px);
  margin: 0 0 38px;
  font-family: $second-font;
  color: $text-color-second;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.works__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 37px 134px;
    counter-reset: after-item 0;
  }

  @media (min-width: $desktope-width) {
    column-gap: 75px;
  }
}

.works__item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &::before {
    content: "";
    display: inline-block;
    align-self: flex-start;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-size: 27px 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color-basic-green;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-top: 40px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(after-item);
      position: absolute;
      right: 0;
      z-index: -1;
      font-family: $second-font;
      font-size: 280px;
      line-height: 280px;
      color: $bg-color-basic-grey;
    }
  }

  &--watch::after {
    @media (min-width: $desktope-width) {
      right: -3px;
    }
  }

  &--leaf::after {
    right: 24px;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
  }

  &--powder::before {
    background-image: url("../../icons/stack.svg#powder");

    @media (min-width: 1440px) {
      position: relative;
      left: 1px;
    }
  }

  &--spoon-fork::before {
    background-image: url("../../icons/stack.svg#spoon-fork");

    @media (min-width: $desktope-width) {
      position: relative;
      left: 2px;
    }
  }

  &--watch::before {
    background-image: url("../../icons/stack.svg#watch");

    @media (min-width: $desktope-width) {
      position: relative;
      left: 3px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    max-width: 249px;
    min-height: 280px;
    counter-increment: after-item 1;
  }

  @media (min-width: $desktope-width) {
    max-width: 248px;
  }
}

.works__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
  }
}
