.works__title {
  @include title-typography ($font-size: 36px, $line-height: 40px);
  font-family: $second-font;
  color: $text-color-second;
}

.works__item {
  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color-basic-green;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
  }

  &--powder::before {
    background-image: url("../../icons/stack.svg#powder");
  }

  &--spoon-fork::before {
    background-image: url("../../icons/stack.svg#spoon-fork");
  }

  &--watch::before {
    background-image: url("../../icons/stack.svg#watch");
  }
}
